<!-- product-create.component.html -->
<div class="max-w-xl mx-auto my-10">
  <h2 class="text-2xl font-bold mb-5">Create New Product</h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="space-y-4">
    <div>
      <label for="Name" class="block text-sm font-medium text-gray-700"
        >Name</label
      >
      <input
        type="text"
        id="Name"
        formControlName="Name"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
      />
      <div
        *ngIf="
          createForm.get('Name')?.touched && createForm.get('Name')?.errors
        "
        class="text-red-500 text-sm mt-1"
      >
        <span *ngIf="createForm.get('Name')?.errors?.['required']"
          >Name is required.</span
        >
      </div>
    </div>

    <div>
      <label for="DiscountRate" class="block text-sm font-medium text-gray-700"
        >DiscountRate</label
      >
      <input
        type="text"
        id="DiscountRate"
        formControlName="DiscountRate"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
      />
      <div
        *ngIf="
          createForm.get('DiscountRate')?.touched &&
          createForm.get('DiscountRate')?.errors
        "
        class="text-red-500 text-sm mt-1"
      >
        <span *ngIf="createForm.get('DiscountRate')?.errors?.['required']"
          >DiscountRate is required.</span
        >
      </div>
    </div>
    <div>
      <label
        for="MinimumQuantity"
        class="block text-sm font-medium text-gray-700"
        >MinimumQuantity</label
      >
      <input
        type="text"
        id="MinimumQuantity"
        formControlName="MinimumQuantity"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
      />
      <div
        *ngIf="
          createForm.get('MinimumQuantity')?.touched &&
          createForm.get('MinimumQuantity')?.errors
        "
        class="text-red-500 text-sm mt-1"
      >
        <span *ngIf="createForm.get('MinimumQuantity')?.errors?.['required']"
          >MinimumQuantity is required.</span
        >
      </div>
    </div>
    <div>
      <label for="Category" class="block text-sm font-medium text-gray-700"
        >Category</label
      >
      <input
        type="text"
        id="Category"
        formControlName="Category"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
      />
      <div
        *ngIf="
          createForm.get('Category')?.touched &&
          createForm.get('Category')?.errors
        "
        class="text-red-500 text-sm mt-1"
      >
        <span *ngIf="createForm.get('Category')?.errors?.['required']"
          >Category is required.</span
        >
      </div>
    </div>

    <div>
      <label for="ProductCode" class="block text-sm font-medium text-gray-700"
        >Product Code</label
      >
      <input
        type="text"
        id="ProductCode"
        formControlName="ProductCode"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
      />
      <div
        *ngIf="
          createForm.get('ProductCode')?.touched &&
          createForm.get('ProductCode')?.errors
        "
        class="text-red-500 text-sm mt-1"
      >
        <span *ngIf="createForm.get('ProductCode')?.errors?.['required']"
          >Product code is required.</span
        >
        <span *ngIf="createForm.get('ProductCode')?.errors?.['pattern']"
          >Invalid product code format.</span
        >
      </div>
    </div>

    <div>
      <label for="Price" class="block text-sm font-medium text-gray-700"
        >Price</label
      >
      <input
        type="number"
        id="Price"
        formControlName="Price"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
      />
      <div
        *ngIf="
          createForm.get('Price')?.touched && createForm.get('Price')?.errors
        "
        class="text-red-500 text-sm mt-1"
      >
        <span *ngIf="createForm.get('Price')?.errors?.['required']"
          >Price is required.</span
        >
        <span *ngIf="createForm.get('Price')?.errors?.['min']"
          >Price must be greater than 0.</span
        >
      </div>
    </div>

    <div>
      <label for="Image" class="block text-sm font-medium text-gray-700"
        >Product Image</label
      >
      <input
        type="file"
        id="Image"
        (change)="onFileSelected($event)"
        class="mt-1 block w-full"
      />
    </div>

    <div>
      <button
        type="submit"
        [disabled]="createForm.invalid"
        class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700"
      >
        Create Product
      </button>
    </div>
  </form>
</div>
