<div
  *ngIf="product"
  class="max-w-4xl mx-auto my-10 p-5 shadow-lg rounded-lg bg-white"
>
  <button
    (click)="goBack()"
    class="mb-5 py-2 px-4 bg-teal-700 text-white rounded hover:bg-teal-900 transition duration-300"
  >
    ← Back
  </button>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="col-span-1">
      <h2 class="text-2xl font-bold mb-4">{{ product.name }} Details</h2>

      <div><b>Category:</b> {{ product.category }}</div>
      <div><b>Product Code:</b> {{ product.productCode }}</div>
      <div><b>Price:</b> ${{ product.price }}</div>
      <div><b>Minimum Quantity:</b> {{ product.minimumQuantity }}</div>
      <div><b>Discount Rate:</b> {{ product.discountRate }}%</div>
    </div>
    <div class="col-span-1">
      <img
        [src]="getImageUrl(product.imagePath)"
        alt="{{ product.name }}"
        class="mt-2 object-cover w-full h-64 rounded-lg shadow-md"
      />
    </div>
  </div>
</div>

<div
  *ngIf="!product"
  class="max-w-4xl mx-auto my-10 p-5 shadow-lg rounded-lg bg-white"
>
  <p>Product not found!</p>
</div>
